<h1><%= t(".title") %></h1>

<h2>年度別の支店合計</h2>




<h2>各支店の年度別の表</h2>
<table>
  <thead>
    <tr>
      <th><%= t(".thead.fiscal_year") %></th>
      <th><%= t(".thead.branch_name") %></th>
      <th><%= t(".thead.co2_emission") %></th>

    </tr>
  </thead>

  <tbody>
    <% @branch_fiscal_year_stats.each do |stat| %>
      <tr>
        <td><%= stat.fiscal_year %></td>
        <td><%= stat.branch.name %></td>
        <td><%= stat.calculated_co2_emission %></td>
      </tr>
    <% end %>
  </tbody>
</table>