<h1><%= t(".title") %></h1>

<table>
  <thead>
    <tr>
      <th><%= t(".thead.fiscal_year") %></th>
      <th><%= t(".thead.branch_name") %></th>
      <th><%= t(".thead.co2_emission") %></th>

      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @branch_fiscal_year_stats.each do |stat| %>
      <tr>
        <td><%= stat.fiscal_year %></td>
        <td><%= stat.branch.name %></td>
        <td><%= Co2EmissionFactor.find_by(
          fiscal_year: stat.fiscal_year,
          workplace_type: stat.branch.workplace_type,
          city_category: stat.branch.city_category
        )&.co2_emission_factor 
        &.*(stat.annual_working_days)
        &.*(stat.annual_employee_count)
        &./(1000) %></td>

      </tr>
    <% end %>
  </tbody>
</table>