<div id="<%= dom_id branch %>">
  <p>
    <strong>Name:</strong>
    <%= branch.name %>
  </p>

  <p>
    <strong>Workplace type:</strong>
    <%= branch.workplace_type %>
  </p>

  <p>
    <strong>City category:</strong>
    <%= branch.city_category %>
  </p>

  <p>
    <strong>Postcode:</strong>
    <%= branch.postcode %>
  </p>

  <p>
    <strong>Prefecture:</strong>
    <%= branch.prefecture %>
  </p>

  <p>
    <strong>City:</strong>
    <%= branch.city %>
  </p>

  <p>
    <strong>Address line1:</strong>
    <%= branch.address_line1 %>
  </p>

  <p>
    <strong>Address line2:</strong>
    <%= branch.address_line2 %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= branch.company_id %>
  </p>

</div>
