<%= form_with(model: branch) do |form| %>
  <% if branch.errors.any? %>
    <div id="error_explanation">
      <h2><%= branch.errors.count %>件のエラーが発生しました </h2>

      <ul>
        <% branch.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <span class="required-mark">※</span>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <span class="required-mark">※</span>
    <%= form.label :workplace_type, style: "display: block" %>
    <%= form.select :workplace_type,
      Branch.workplace_types.keys.map { |key| [Branch.workplace_types_i18n[key], key] },
      { include_blank: "選択してください" }
    %>
  </div>

  <div>
    <span class="required-mark">※</span>
    <%= form.label :city_category, style: "display: block" %>
    <%= form.select :city_category,
      Branch.city_categories.keys.map { |key| [Branch.city_categories_i18n[key], key]},
      { include_blank: "選択してください" }
    %>
  </div>

  <div>
    <%= form.label :postcode, style: "display: block" %>
    <%= form.text_field :postcode, placeholder: "ハイフンは不要です" %>
  </div>

  <div>
    <span class="required-mark">※</span>
    <%= form.label t("common.address"), style: "display: block" %>
    <%= form.text_field :prefecture, placeholder: "都道府県" %>
    <%= form.text_field :city, placeholder: "市町村" %>
  </div>

  <div>
    <%= form.label :address_line1, style: "display: block" %>
    <%= form.text_field :address_line1 %>
  </div>

  <div>
    <%= form.label :address_line2, style: "display: block" %>
    <%= form.text_field :address_line2 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<p>
	<span class="required-mark">※</span>
	がある項目は入力必須です
</p>