<%= form_with(model: branch) do |form| %>
  <% if branch.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(branch.errors.count, "error") %> prohibited this branch from being saved:</h2>

      <ul>
        <% branch.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :workplace_type, style: "display: block" %>
    <%= form.select :workplace_type,
      Branch.workplace_types.keys.map { |key| [Branch.workplace_types_i18n[key], key] },
      { include_blank: "選択してください" }
    %>
  </div>

  <div>
    <%= form.label :city_category, style: "display: block" %>
    <%= form.select :city_category,
      Branch.city_categories.keys.map { |key| [Branch.city_categories_i18n[key], key]},
      { include_blank: "選択してください" }
    %>
  </div>

  <div>
    <%= form.label :postcode, style: "display: block" %>
    <%= form.text_field :postcode, placeholder: "ハイフンは不要です" %>
  </div>

  <div>
    <%= form.label :prefecture, style: "display: block" %>
    <%= form.text_field :prefecture, placeholder: "都道府県" %>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city, placeholder: "市町村" %>
  </div>

  <div>
    <%= form.label :address_line1, style: "display: block" %>
    <%= form.text_field :address_line1 %>
  </div>

  <div>
    <%= form.label :address_line2, style: "display: block" %>
    <%= form.text_field :address_line2 %>
  </div>

  <%= form.hidden_field :company_id, value: current_user.company_id %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
