<div id="<%= dom_id co2_emission_factor %>">
  <p>
    <strong>Fiscal year:</strong>
    <%= co2_emission_factor.fiscal_year %>
  </p>

  <p>
    <strong>Workplace type:</strong>
    <%= co2_emission_factor.workplace_type %>
  </p>

  <p>
    <strong>City category:</strong>
    <%= co2_emission_factor.city_category %>
  </p>

  <p>
    <strong>Co2 emission factor:</strong>
    <%= co2_emission_factor.co2_emission_factor %>
  </p>

  <p>
    <strong>Co2 emission factor unit:</strong>
    <%= co2_emission_factor.co2_emission_factor_unit %>
  </p>

</div>
