<%= form_with(model: co2_emission_factor) do |form| %>
  <% if co2_emission_factor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(co2_emission_factor.errors.count, "error") %> prohibited this co2_emission_factor from being saved:</h2>

      <ul>
        <% co2_emission_factor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :fiscal_year, style: "display: block" %>
    <%= form.text_field :fiscal_year %>
  </div>

  <div>
    <%= form.label :workplace_type, style: "display: block" %>
    <%= form.number_field :workplace_type %>
  </div>

  <div>
    <%= form.label :city_category, style: "display: block" %>
    <%= form.number_field :city_category %>
  </div>

  <div>
    <%= form.label :co2_emission_factor, style: "display: block" %>
    <%= form.text_field :co2_emission_factor %>
  </div>

  <div>
    <%= form.label :co2_emission_factor_unit, style: "display: block" %>
    <%= form.text_field :co2_emission_factor_unit %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
