
<% content_for :title, "Co2 emission factors" %>

<h1><%= t(".title") %></h1>

<div>
  <%= search_form_for @q do |f| %>
    <div>
        <%= f.label "期間" %>
        <%= f.select :fiscal_year_gteq, @fiscal_years, selected: params.dig(:q, :fiscal_year_gteq) || 1.year.ago.year.to_s || @fiscal_years.min  %>
        <span> 〜 </span>
        <%= f.select :fiscal_year_lteq, @fiscal_years, selected: params.dig(:q, :fiscal_year_lteq) || 1.year.ago.year.to_s || @fiscal_years.max  %>
        
    </div>

    <div>
      <%= f.label :workplace_type_eq, "勤務形態" %>
      <%= f.select :workplace_type_eq, Co2EmissionFactor.workplace_types.keys.map.with_index { |k, i| [t("enums.co2_emission_factor.workplace_type.#{k}"), i]}  ,include_blank: "指定なし" %>
    </div>

    <div>
      <%= f.label :city_category_in, "都市区分" %>
      <% Co2EmissionFactor.city_categories.keys.map.with_index do |k, i|  %>
        <%= f.check_box :city_category_in, { multiple: true }, i, nil %><span><%= t("enums.co2_emission_factor.city_category.#{k}") %></span>
      <% end %>

    </div>

    <div>
      <%= f.submit %>
    </div>

  <% end %>
</div>



<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :fiscal_year, Co2EmissionFactor.human_attribute_name(:fiscal_year)) %></th>
      <th><%= Co2EmissionFactor.human_attribute_name(:workplace_type) %></th>
      <th><%= Co2EmissionFactor.human_attribute_name(:city_category) %></th>
      <th><%= Co2EmissionFactor.human_attribute_name(:co2_emission_factor) %></th>
      <th><%= Co2EmissionFactor.human_attribute_name(:co2_emission_factor_unit) %></th>

      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @co2_emission_factors.each do |factor| %>
      <tr>
        <td><%= factor.fiscal_year %></td>
        <td><%= factor.workplace_type_i18n %></td>
        <td><%= factor.city_category_i18n %></td>
        <td><%= factor.co2_emission_factor %></td>
        <td><%= factor.co2_emission_factor_unit %></td>

        <td><%= link_to t("common.edit"), edit_co2_emission_factor_path(factor) if current_user.admin? %></td>
        <td><%= link_to t("common.delete"), factor, method: :delete, data: {
          confirm: t("confirmations.delete.co2_emission_factor", 
            fiscal_year: factor.fiscal_year,
            workplace_type: factor.workplace_type_i18n,
            city_category: factor.city_category_i18n)
        } if current_user.admin? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t("co2_emission_factors.link.new"), new_co2_emission_factor_path if current_user.admin? %>
