<div class="row justify-content-center mb-4">
  <div class="col-sm-8">

    <h1 class="mb-4"><%= t('.title') %></h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field row mb-3">
        <div class="col-sm-4">
          <%= f.label :name, class: "col-form-label" %>
          <span class="required-mark">※</span>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control w-auto" %>
        </div>
      </div>

      <div class="field row mb-3">
        <div class="col-sm-4">
          <%= f.label :email, class: "col-form-label" %>
          <span class="required-mark">※</span>
        </div>
        <div class="col-sm-8">
          <%= f.email_field :email, autocomplete: "email", class: "form-control w-auto" %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
      <% end %>

      <div class="field row mb-4">
        <div class="col-sm-4">
          <%= f.label :current_password, class: "col-form-label" %>
          <span class="required-mark">※</span>
        </div>
        <div class="col-sm-8">
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control w-auto" %>
        </div>
      </div>

      <p class="mb-3">(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</p>
      <div class="field row mb-3">
        <div class="col-sm-4">
          <%= f.label :password, t(".new_password"), class: "col-form-label" %>
          <% if @minimum_password_length %>
            <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
          <% end %>
        </div>
        <div class="col-sm-8">
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control w-auto" %>
        </div>
      </div>

      <div class="field row mb-3">
        <div class="col-sm-4">
          <%= f.label :password_confirmation, t(".new_password_confirmation"), class: "col-sm-label" %>
        </div>
        <div class="col-sm-8">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control w-auto" %>
        </div>
      </div>

      <div class="actions text-center my-4">
        <%= f.submit t('.update'), id: "update-user", class: "btn btn-primary" %>

        <p>
          <span class="required-mark">※</span>
          がある項目は入力必須です
        </p>
      </div>
    <% end %>
    <div class="text-center">
      <%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('confirmations.delete.user')}, method: :delete, id: "destroy-user", class: "btn btn-danger" %>
    </div>

  </div>
</div>