<div id="<%= dom_id branch_fiscal_year_stat %>">
  <p>
    <strong>Fiscal year:</strong>
    <%= branch_fiscal_year_stat.fiscal_year %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= branch_fiscal_year_stat.branch_id %>
  </p>

  <p>
    <strong>Annual working days:</strong>
    <%= branch_fiscal_year_stat.annual_working_days %>
  </p>

  <p>
    <strong>Annual employee count:</strong>
    <%= branch_fiscal_year_stat.annual_employee_count %>
  </p>

  <p>
    <strong>User:</strong>
    <%= branch_fiscal_year_stat.user_id %>
  </p>

</div>
