<%= form_with(model: branch_fiscal_year_stat, class: "mt-4") do |form| %>
  <% if branch_fiscal_year_stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= branch_fiscal_year_stat.errors.count %>件のエラーが発生しました </h2>

      <ul>
        <% branch_fiscal_year_stat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3">
    <div class="col-sm-4">
      <%= form.label :fiscal_year, class: "col-form-label" %>
      <span class="required-mark">※</span>
    </div>
    <div class="col-sm-8">
      <%= form.select :fiscal_year, (2000..2100).map(&:to_s), { selected: form.object.fiscal_year.presence || 1.year.ago.year.to_s }, { class: "form-select w-auto" } %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-4">
      <%= form.label :branch_id, BranchFiscalYearStat.human_attribute_name(:branch), class: "col-form-label" %>
      <span class="required-mark">※</span>
    </div>
    <div class="col-sm-8">
      <%= form.select :branch_id,
        branches.map { |branch| [ branch.name, branch.id] } , { selected: form.object.branch_id }, { class: "form-select w-auto" }
      %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-4">
      <%= form.label :annual_working_days, class: "col-form-label" %>
      <span class="required-mark">※</span>
    </div>
    <div class="col-sm-8">
      <%= form.number_field :annual_working_days, in: 0..365, class: "form-control w-auto" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-4">
      <%= form.label :annual_employee_count, class: "col-form-label" %>
      <span class="required-mark">※</span>
    </div>
    <div class="col-sm-8">
      <%= form.number_field :annual_employee_count, min: 0, class: "form-control w-auto" %>
    </div>
  </div>

  <div class="text-center my-4">
    <%= form.submit class: "btn btn-primary" %>
    <p>
      <span class="required-mark">※</span>
      がある項目は入力必須です
    </p>
  </div>
<% end %>

