
<% content_for :title, "Branch fiscal year stats" %>

<h1><%= t(".title") %></h1>

<%= link_to t("branch_fiscal_year_stats.link.new"), new_branch_fiscal_year_stat_path %>

<div>
  <%= search_form_for @q do |f|  %>
    <div>
      <%= f.label "期間（年度）" %>
      <%= f.select :fiscal_year_gteq, @fiscal_years, selected: params.dig(:q, :fiscal_year_gteq) || @fiscal_years.min  %>
      <span> 〜 </span>
      <%= f.select :fiscal_year_lteq, @fiscal_years, selected: params.dig(:q, :fiscal_year_lteq) || @fiscal_years.max  %>
    </div>

    <div>
      <%= f.label :branch_id_eq, "支店名" %>
      <%= f.collection_select :branch_id_eq, @branches, :id, :name, include_blank: "指定なし"  %>
    </div>

    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>



<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :fiscal_year, BranchFiscalYearStat.human_attribute_name(:fiscal_year)) %></th>
      <th><%= BranchFiscalYearStat.human_attribute_name(:branch) %></th>
      <th><%= BranchFiscalYearStat.human_attribute_name(:annual_working_days) %></th>
      <th><%= BranchFiscalYearStat.human_attribute_name(:annual_employee_count) %></th>
      <th><%= BranchFiscalYearStat.human_attribute_name(:updater) %></th>

      <th colspan="2" ></th>
    </tr>
  </thead>

  <tbody>
    <% @branch_fiscal_year_stats.each do |stat| %>
      <tr>
        <td><%= stat.fiscal_year %></td>
        <td><%= stat.branch.name %></td>
        <td><%= stat.annual_working_days %></td>
        <td><%= stat.annual_employee_count %></td>
        <td><%= stat.updater.name %></td>

        <td><%= link_to t("common.adjustment"), edit_branch_fiscal_year_stat_path(stat) %></td>
        <td><%= link_to t("common.delete"), stat, method: :delete, data: {
                  confirm: t("confirmations.delete.branch_fiscal_year_stat", branch_name: stat.branch.name, fiscal_year: stat.fiscal_year )
                } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
