
<% content_for :title, "Branch fiscal year stats" %>

<h1><%= t(".title") %></h1>

<table>
  <thead>
    <tr>
      <th><%= BranchFiscalYearStat.human_attribute_name(:fiscal_year) %></th>
      <th><%= BranchFiscalYearStat.human_attribute_name(:branch) %></th>
      <th><%= BranchFiscalYearStat.human_attribute_name(:annual_working_days) %></th>
      <th><%= BranchFiscalYearStat.human_attribute_name(:annual_employee_count) %></th>
      <th><%= BranchFiscalYearStat.human_attribute_name(:updater) %></th>

      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @branch_fiscal_year_stats.each do |stat| %>
      <tr>
        <td><%= stat.fiscal_year %></td>
        <td><%= stat.branch.name %></td>
        <td><%= stat.annual_working_days %></td>
        <td><%= stat.annual_employee_count %></td>
        <td><%= stat.updater.name %></td>

        <td><%= link_to t("common.adjustment"), edit_branch_fiscal_year_stat_path(stat) %></td>
        <td><%= link_to t("common.delete"), stat, data: {
                  turbo_method: :delete,
                  turbo_confirm: t("confirmations.delete.branch_fiscal_year_stat", branch_name: stat.branch.name, fiscal_year: stat.fiscal_year )
                } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to t("branch_fiscal_year_stats.link.new"), new_branch_fiscal_year_stat_path %>
