<h1><%= t ".title" %></h1>

<div class="text-end">
  <%= link_to t("users.link.new"), new_user_registration_path, id: "users-new", class: "btn btn-success btn-lg" %>
</div>

<table class="table my-4">
  <thead class="table-light">
    <tr>
      <th scope="col"><%= User.human_attribute_name(:name) %></th>
      <th scope="col"><%= User.human_attribute_name(:email) %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>



