<h1><%= t ".title" %></h1>

<p>
  <strong><%= User.human_attribute_name(:name) %>:</strong>
  <%= @user.name %>
</p>

<% if current_user.admin? %>
  <p>
    <strong><%= User.human_attribute_name(:company) %>:</strong>
    <%= @user.company.name %>
  </p>
<% end %>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<% if current_user.admin? %>
  <p>
    <strong><%= User.human_attribute_name(:admin) %>:</strong>
    <%= @user.admin ? t("common.is_admin"): t("common.not_admin") %>
  </p>
<% end %>

<div>
  <%= link_to t("common.edit"), edit_user_registration_path(@user), id: "users-edit" %>
</div>
