<div id="<%= dom_id company %>">

  <div class="row">
    <div class="col-sm-4">
      <p><strong><%= Company.human_attribute_name(:name) %>:</strong></p>
    </div>
    <div class="col-sm-8">
      <p><%= company.name %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <p><strong><%= Company.human_attribute_name(:contact_name) %>:</strong></p>
    </div>
    <div class="col-sm-8">
      <p><%= company.contact_name %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <p><strong><%= Company.human_attribute_name(:contact_email) %>:</strong></p>
    </div>
    <div class="col-sm-8">
      <p><%= company.contact_email %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <p><strong><%= Company.human_attribute_name(:status) %>:</strong></p>
    </div>
    <div class="col-sm-8">
      <p><%= company.status_i18n %></p>
    </div>
  </div>
</div>
