<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Contact name:</strong>
    <%= company.contact_name %>
  </p>

  <p>
    <strong>Contact email:</strong>
    <%= company.contact_email %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= company.status %>
  </p>

</div>
