<%= form_with(model: company) do |form| %>
  <% if company.errors.any? %>
    <div style="color: red">
      <h2><%= t("activerecord.errors.template.body") %></h2>

      <ul>
        <% company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :contact_name, style: "display: block" %>
    <%= form.text_field :contact_name %>
  </div>

  <div>
    <%= form.label :contact_email, style: "display: block" %>
    <%= form.text_field :contact_email %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status,
      Company.statuses.keys.map { |key| [Company.statuses_i18n[key],key]}
    %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
