<%= form_with(model: company) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= company.errors.count %>件のエラーが発生しました </h2>

      <ul>
        <% company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <span class="required-mark">※</span>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <span class="required-mark">※</span>
    <%= form.label :contact_name, style: "display: block" %>
    <%= form.text_field :contact_name %>
  </div>

  <div>
    <%= form.label :contact_email, style: "display: block" %>
    <%= form.email_field :contact_email %>
  </div>

  <div>
    <span class="required-mark">※</span>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status,
      Company.statuses.keys.map { |key| [Company.statuses_i18n[key],key]}
    %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<p>
<span class="required-mark">※</span>
がある項目は入力必須です
</p>
