
<div class="row justify-content-center">
  <div class="col-sm-8">
    
    <h1><%= t('.title') %></h1>

    <%= form_with(model: [:admin, @user], local: true, class: "my-4") do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= @user.errors.count %>件のエラーが発生しました </h2>
          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field row mb-3">
        <div class="col-sm-4">
          <%= f.label :name, class: "col-form-label" %>
          <span class="required-mark">※</span>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control w-auto" %>
        </div>
      </div>

      <div class="field row mb-3">
        <div class="col-sm-4">
          <%= f.label :company_id, "所属企業名", class: "col-form-label" %>
          <span class="required-mark">※</span>
        </div>
        <div class="col-sm-8">
          <%= f.collection_select :company_id, @companies, :id, :name, { include_blank: "指定なし"}, { class: "form-control w-auto" } %>
        </div>
      </div>

      <div class="field row mb-3">
        <div class="col-sm-4">
          <%= f.label :email, class: "col-form-label" %>
          <span class="required-mark">※</span>
        </div>
        <div class="col-sm-8">
          <%= f.email_field :email, autocomplete: "email", class: "form-control w-auto" %>
        </div>
      </div>

      <div class="field row mb-3">
        <div class="col-sm-4">
          <%= f.label :password, class: "col-form-label" %>
          <span class="required-mark">※</span>
          <% if @minimum_password_length %>
            <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
          <% end %>
        </div>
        <div class="col-sm-8">
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control w-auto" %>
        </div>
      </div>

      <div class="field row mb-3">
        <div class="col-sm-4">
          <%= f.label :password_confirmation, class: "col-form-label" %>
          <span class="required-mark">※</span>
        </div>
        <div class="col-sm-8">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control w-auto" %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-sm-4">
          <%= f.label :admin, class: "col-form-label" %>
        </div>
        <div class="col-sm-8">
          <div class="form-check">
            <%= f.check_box :admin, { autocomplete: "admin", class: "form-check-input" }, "true", "false" %>
            <%= f.label :admin, t("common.is_admin"),  class: "form-check-label" %>
          </div>
        </div>
      </div>

      <div class="actions text-center my-4">
        <%= f.submit t('.update'), id: "update-admin-user", class: "btn btn-primary"  %>
        <p>
          <span class="required-mark">※</span>
          がある項目は入力必須です
        </p>
      </div>
    <% end %>

  </div>
</div>

