<h1><%= t ".title" %></h1>

<table>
  <thead>
    <tr>
      <th><%= Company.human_attribute_name(:name) %></th>
      <th><%= User.human_attribute_name(:name) %></th>
      <th><%= User.human_attribute_name(:email) %></th>
      <th><%= User.human_attribute_name(:admin) %></th>
      <td><td>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.company.name %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.admin ? t("common.is_admin"): t("common.not_admin")  %></td>

        <td><%= link_to t("common.edit"), edit_admin_user_path(user) %></td>
        <td><%= link_to t("common.delete"), [:admin, user], method: :delete, data: {
                  confirm: t("confirmations.delete.admin_user",
                              company_name: user.company.name,
                              user_name: user.name)
                  } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t("admin.users.link.new"), new_admin_user_path %>
