<h1><%= t('.title') %></h1>

<%= form_with(model: [:admin, @user], local: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %>件のエラーが発生しました </h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span class="required-mark">※</span>
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <span class="required-mark">※</span>
    <%= f.label :company_id, "所属企業名" %><br />
    <%= f.collection_select :company_id, @companies, :id, :name, include_blank: "指定なし" %>
  </div>

  <div class="field">
    <span class="required-mark">※</span>
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <span class="required-mark">※</span>
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <span class="required-mark">※</span>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <span class="required-mark">※</span>
    <%= f.label :admin %><br />
    <%= f.check_box :admin, { autocomplete: "admin" }, "true", "false" %>
  </div>

  <div class="actions">
    <%= f.submit t('.sign_up'), id: "create-admin-user" %>
  </div>
<% end %>

<p>
  <span class="required-mark">※</span>
  がある項目は入力必須です
</p>