<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Co2meter" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "startbootstrap/styles", media: "all", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "startbootstrap/scripts", defer: true, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "startbootstrap/chart-bar-demo", defer: true %>
    <%= javascript_include_tag "startbootstrap/datatables-simple-demo", defer: true %>


  </head>

  <body>
    <nav>
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to t("companies.link.index"), companies_path, id: "companies-index" %></li>
          <li><%= link_to t("dashboards.link.index"), dashboards_index_path, id: "dashboards-index" %></li>
          <li><%= link_to t("branches.link.index"), branches_path, id: "branches-index" %></li>
          <li><%= link_to t("users.link.show"), user_path(current_user.id), id: "user-show" %></li>
          <li><%= link_to t("users.link.index"), users_path, id: "users-index" %></li>
          <li><%= link_to t("co2_emission_factors.link.index"), co2_emission_factors_path, id: "co2_emission_factors-index" %></li>
          <li><%= link_to t("common.sign_out"), destroy_user_session_path, data: { turbo_method: :delete }, id: "sign-out" %></li>
        <% end %>

      </ul>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
