<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Co2meter" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "startbootstrap/styles", media: "all", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "startbootstrap/scripts", defer: true, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "startbootstrap/chart-bar-demo", defer: true %>
    <%= javascript_include_tag "startbootstrap/datatables-simple-demo", defer: true %>


  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">

        <div class="container-fluid">
          <%= link_to t(".title"), root_path, class: "navbar-brand" %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

              <% if current_user&.admin? %>
                <li class="nav-item"><%= link_to t("companies.link.index"), companies_path, id: "companies-index", class: "nav-link" %></li>
                <li class="nav-item"><%= link_to t("dashboards.link.index"), dashboards_index_path, id: "dashboards-index", class: "nav-link" %></li>
                <li class="nav-item"><%= link_to t("users.link.show"), user_path(current_user.id), id: "users-show", class: "nav-link" %></li>
                <li class="nav-item"><%= link_to t("admin.users.link.index"), admin_users_path, id: "admin-users-index", class: "nav-link" %></li>
                <li class="nav-item"><%= link_to t("co2_emission_factors.link.index"), co2_emission_factors_path( q: { fiscal_year_eq: 1.year.ago.year.to_s }), id: "co2-emission-factors-index", class: "nav-link" %></li>
                <li class="nav-item"><%= link_to t("common.sign_out"), destroy_user_session_path, method: :delete, id: "sign-out", class: "nav-link" %></li>

              <% elsif user_signed_in? %>
                <li class="nav-item"><%= link_to t("dashboards.link.index"), dashboards_index_path, id: "dashboards-index", class: "nav-link", class: "nav-link" %></li>
                <li class="nav-item"><%= link_to t("branches.link.index"), branches_path, id: "branches-index", class: "nav-link" %></li>
                <li class="nav-item"><%= link_to t("users.link.show"), user_path(current_user.id), id: "users-show", class: "nav-link" %></li>
                <li class="nav-item"><%= link_to t("users.link.index"), users_path, id: "users-index", class: "nav-link" %></li>
                <li class="nav-item"><%= link_to t("co2_emission_factors.link.index"), co2_emission_factors_path( q: { fiscal_year_eq: 1.year.ago.year.to_s }), id: "co2-emission-factors-index", class: "nav-link" %></li>
                <li class="nav-item"><%= link_to t("common.sign_out"), destroy_user_session_path, method: :delete, id: "sign-out", class: "nav-link" %></li>
              <% end %>

            </ul>
          </div>
        </div>
      </nav>

      <% if user_signed_in? %>
        <p class="text-end"><%= current_user.company.name %> ー <%= current_user.name %> 様（ログイン中）</p>
      <% end %>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container">
      <%= yield %>
    </div>

    <footer class="py-4 bg-light mt-auto">
			<div class="container-fluid px-4">
				<div class="d-flex align-items-center justify-content-between small">
					<div class="text-muted">Copyright &copy; Your Website 2023</div>

				</div>
			</div>
		</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
